<div class="grid grid-cols-1 lg:grid-cols-12 gap-5 p-5 max-w-[96rem] m-auto">
  <select [(ngModel)]="selectedThresholdsDisplay" (change)="updateThresholdDisplay()"
    class="col-span-12 select w-full max-w-xs selectDiv">
    @for (choice of chartChoices; track choice) {
    <option [ngValue]="chartChoices.indexOf(choice)">{{ choice }}</option>
    }
  </select>
  @if (sensors.length == 0) {
  <div class="flex justify-center col-span-12">
    <span class="loading loading-infinity loading-lg text-success"></span>
  </div>
  } @for (sensor of sensors; track sensor.sensor_id) {
  <div class="stats shadow text-center col-span-12 lg:col-span-3 bg-base-200">
    <div class="stat">
      <div class="stat-title">{{ this.getSensorTitle(sensor) }}</div>
      <div>
        <div [class]="['text-' + this.getSensorValidity(sensor), 'stat-value']" [id]="['sensor' + sensor.sensor_id]">
          {{ this.getLastMeasurement(sensor) }}
        </div>
        <div class="stat-desc">{{ sensor.sensor_unit }}</div>
      </div>
      <div>
        <div class="grid grid-cols-5">
          <div class="cols-span-1 text-warning">
            {{ sensor.threshold_critically_low }}
          </div>
          <div class="cols-span-1 text-success">
            {{ sensor.threshold_low }}
          </div>
          <div class="cols-span-1"></div>
          <div class="cols-span-1 text-success">
            {{ sensor.threshold_high }}
          </div>
          <div class="row-span-1 text-warning">
            {{ sensor.threshold_critically_high }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-cols-subgrid col-span-12 lg:col-span-9 card shadow h-72 bg-base-200">
    <app-area-chart [chartTitle]="this.getSensorTitle(sensor)" [sensor]="sensor" class="h-full">
    </app-area-chart>
  </div>
  }
</div>
<app-camera-picture></app-camera-picture>
<span class="text-error hidden"></span>
<span class="text-neutral hidden"></span>