<h2 class="text-2xl font-bold text-base-900 mb-6">
    Bibliothèque
</h2>

@if (error) {
<div class="p-4 bg-error bg-opacity-20 border border-error rounded text-error">
    {{ error }}
</div>
} @else {
<div class="overflow-x-auto">
    @if (!(timelapsesEmpty$ | async)) {
    <table class="min-w-full bg-base-100 border rounded-lg">
    <thead class="bg-base-50">
        <tr>
            <th class="py-3 px-4 border-b text-left font-semibold text-base-700">Début</th>
            <th class="py-3 px-4 border-b text-left font-semibold text-base-700">Capturé pendant</th>
            <th class="py-3 px-4 border-b text-left font-semibold text-base-700">Actions</th>
            <th class="py-3 px-4 border-b text-left font-semibold text-base-700">Statut</th>
        </tr>
    </thead>
    <tbody>
        @for (timelapse of (timelapses$ | async) ?? []; track timelapse.id) {
        <tr class="hover:bg-base-50">
        <td class="py-3 px-4 border-b text-base-900">{{ timelapse.start_date | date:'dd/MM/yyyy HH:mm:ss' }}</td>
        <td class="py-3 px-4 border-b text-base-900">{{ timelapse | timelapseSeconds | duration }}</td>
        <td class="py-3 px-4 border-b">
            <div class="space-y-2 ">
                <button
                    class="btn btn-success btn-sm w-full text-base-100"
                    (click)="download(timelapse)"
                    [disabled]="!timelapse.ready"
                >
                Télécharger
                </button>
                <button
                    (click)="delete(timelapse)"
                    class="btn btn-error btn-sm w-full text-base-100"
                >
                Supprimer
                </button>
            </div>
        </td>
        <td class="py-3 px-4 border-b">
            <div class="flex flex-col items-center">
                    <div
                        class="w-4 h-4 rounded-full mb-2"
                        [ngClass]="{
                            'bg-error animate-pulse': timelapse.ready === false,
                            'bg-success': timelapse.ready === true,
                            'bg-base-500': timelapse.ready === undefined || timelapse.ready === null,
                        }"
                    ></div>
                    <span class="text-sm text-base-900">{{ timelapse | statusText }}</span>
            </div>
        </td>
        </tr>
        }
    </tbody>
    </table>
    } @else {
    <div class="p-4 bg-warning bg-opacity-20 border border-warning rounded text-warning">
        Aucun timelapse enregistré.
    </div>
    }
</div>
}
