fastapi[all]
sqlalchemy
psycopg2-binary
passlib
cryptography
python-multipart
python-jose
pytz
gunicorn
imageio
imageio-ffmpeg
pytest # only for development, should not be in production
httpx
pytest-asyncio # only for development, should not be in production
pytest-cov # only for development, should not be in production
alembic # for database migrations, development
tzdata