<div class="flex items-center justify-center min-h-screen">
  <div class="flex flex-col items-center w-full max-w-lg">

    <img 
      src="https://i.postimg.cc/pdfYwvjh/Screenshot-2026-03-11-185641-removebg-preview.png" 
      alt="Logo" 
      class="w-64 mb-8" 
    />

    <h1 class="text-3xl font-bold mb-6 tracking-wide text-base-content">
      Aquadash
    </h1>

    <div class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
      <div class="card-body p-6">

        <form [formGroup]="form" (ngSubmit)="onSubmit()">

          <fieldset class="fieldset bg-base-200 rounded-box p-6">

            <legend class="fieldset-legend text-lg mb-2">
              Login
            </legend>

            <label class="label" for="username">Username</label>
            <input
              id="username"
              type="text"
              formControlName="username"
              placeholder="Enter your username"
              class="input input-bordered w-full"
              [class.input-error]="submitted && f['username'].errors"
            />

            @if (submitted && f['username'].errors) {
              <p class="label-text-alt text-error mt-1">
                @if (f['username'].errors && f['username'].errors['required']) {
                  Username is required
                }
              </p>
            }

            <label class="label mt-4" for="password">Password</label>
            <input
              id="password"
              type="password"
              formControlName="password"
              placeholder="Enter your password"
              class="input input-bordered w-full"
              [class.input-error]="submitted && f['password'].errors"
            />

            @if (submitted && f['password'].errors) {
              <p class="label-text-alt text-error mt-1">
                @if (f['password'].errors && f['password'].errors['required']) {
                  Password is required
                }
              </p>
            }

            <div class="flex items-center gap-2 mt-6">
              <button [disabled]="loading" class="btn btn-primary">
                @if (loading) {
                  <span class="loading loading-spinner loading-sm"></span>
                }
                Login
              </button>
              <button type="button" (click)="loginAsPublic()" class="btn btn-ghost btn-sm">
                  Public Access
              </button>
              
              <a routerLink="/register" class="btn btn-link">
                Register
              </a>
              </div>
            

          </fieldset>

        </form>

      </div>
    </div>

  </div>
</div>
