[Unit]
Description=Appname
After=network.target

[Service]
User=root
WorkingDirectory=/home/aquapoly/monitoring/Dashboard/server/
LimitNOFILE=4096
ExecStart=gunicorn app.main:app --workers 1 -k uvicorn.workers.UvicornWorker --bind unix:aquaserv.sock --error-logfile /home/aquapoly/monitoring/Dashboard/server/logs/error_log.txt
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target