<dialog id="modify_actuator_modal" class="modal" #modifyActuatorModal>
  <div class="modal-box">
    <div class="grid gap-5">
      <h3 class="font-bold text-lg">Modifier {{ getActuatorName() }}</h3>
      <form method="dialog">
        <div class="grid gap-[10px]">
          <div class="flex-inline">
            <label for="input_actuator_name">Nom de l'actuateur: </label>
            <input required type="text" [(ngModel)]="formInput.name" name="input_actuator_name" class="input h-[1.8em] input-primary"/>
          </div>
          <div class="flex-inline">
            <label for="input_actuator_type">Type d'actuateur: </label>
            <select required [(ngModel)]="formInput.type" (ngModelChange)="onTypeChange($event)" name="input_actuator_type" class="select select-sm select-primary">
                <option value="acid_pump">{{ getNameFromType('acid_pump') }}</option>
                <option value="base_pump">{{ getNameFromType('base_pump') }}</option>
                <option value="nutrients_A_pump">{{ getNameFromType('nutrients_A_pump') }}</option>
                <option value="nutrients_B_pump">{{ getNameFromType('nutrients_B_pump') }}</option>
            </select>
          </div>
        </div>
      </form>
    </div>

    <div class="modal-action">
      <form method="dialog">
        <button class="btn btn-primary text-base-100 mx-2" type="submit" id="submitBtn" (click)="onSubmit($event)" [disabled]="!formInput.name || !formInput.type">
          Sauvegarder
        </button>
        <button class="btn" (click)="onCancel()">Annuler</button>
      </form>
    </div>
  </div>
</dialog>
